* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.logo h2 {
    font-size: 45px;
    font-weight: 900;
}

.color-orange {
    color: #FD6E0A;
}

.btn {
    font-size: 20px;
    border: none;
    background-color: #FD6E0A;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.section-heading {
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}

.section-heading h2 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}

.section-heading p {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
}


.text-center {
    text-align: center;
    /* margin: 0 auto; */
}


/* main style */
header {
    background-color: #FFF8F3;
    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}

nav {
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;

}

nav .menu a {
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}


#banner {
    /* border: 1px solid black; */
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content {
    max-width: 585px;
}

#banner .banner-content h2 {
    font-size: 45px;
    color: #474747;
    font-weight: 600px;
    margin-bottom: 5px;
}

#banner .banner-content h1 {
    font-size: 85px;
    color: #181818;
    font-weight: bold;
    margin-bottom: 20px;
}

#banner .banner-content p {
    font-size: 18px;
    color: #757575;
    margin-bottom: 33px;
    line-height: 30px;
}

#banner .banner-content button {
    font-size: 20px;
    border: 1px solid #FD6E0A;
    padding: 18px 35px;
    font-weight: bold;
    border-radius: 5px;
    /* background-color: #FFF8F3; */
}

#banner .banner-img img {
    max-width: 584px;
    vertical-align: middle;
}

#about,
#skill,
#resume {
    padding-top: 130px;
}

#about .about-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}

#about .about-container .about-info {
    display: flex;
    justify-content: space-around;
}

.about-info .info-card p {
    color: #757575;
    font-size: 20px;
    line-height: 30px;
    /* margin-bottom: 30px; */
}

.about-info .info-card h4 {
    font-size: 20px;
    color: #474747;
}


#skill .skill-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

#skill .skill-container .skill-box {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    gap: 24px;
}

.skill-box .skill-card {
    padding: 30px;
    /* border: 1px solid #E0E0E0; */
    max-width: 267px;
    max-height: 377px;
    box-shadow: 0 6px 50px 0 #0000000c;
}

.skill-card img {
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-card h3 {
    font-size: 20px;
    color: #181818;
    font-weight: bold;
    margin-bottom: 20px;
}

.skill-card p {
    font-size: 16px;
    color: #757575;
    line-height: 28px;
    max-width: 201px;
}

#resume .resume-container {
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}

.resume-container hr {
    margin-bottom: 30px;
    border: 0.5px solid #D1D1D1;
}

.resume-container .section-title {
    color: #474747;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.resume-container .resume-card {
    max-width: 511px;
    margin-right: 47px;
    margin-bottom: 30px;
}

.resume-card .card-title {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #474747;
}

.resume-card .card-info {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 600px;
    color: #757575;
}

.resume-card .card-text {
    margin-bottom: 30px;
    line-height: 28px;
    font-size: 16px;
    font-weight: 600px;
    color: #757575;
    max-width: 511px;
}
/* .footer-container .form .form-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 20px;
} */

footer{
    margin-top: 130px;
    padding: 130px 0px;
    background-color: #FFF8F3;
    height: 780px;
}
footer .footer-container {
    display: flex;
    gap: 117px;
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;

}
.footer-container .social {
    max-width: 562px;
}
.footer-container h2 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #181818;
}

.footer-container .social p{
    color: #474747;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 30px;
}
.footer-container .social .icons {
    gap: 24px;
    /* justify-content: space-between; */
    display: flex;
}

.footer-container .social .icons a {
    margin-right: 24px;
}

.footer-container .form input[type="text"],
.footer-container .form input[type="email"] ,.footer-container .form textarea {
    width: 461px;
    /* height: 64px; */
    margin-bottom: 24px;
    border: none;
    padding: 18px 350px 18px 30px;
    border-radius: 5px;
    color: #757575;
    font-family: "Open Sans";
}
/* .footer-container .form textarea {
    width: 461px;
    height: 180px;
    margin-bottom: 24px;
    border: none;
    padding: 18px 365px 134px 30px;
    border-radius: 5px;
    font-family: "Open Sans";
    color: #757575;
} */